.App {
    display: flex;
}

.MainWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 66vw;
    height: 100vh;
    border: black solid 2px;
}

.BasketWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 33vw;
    height: 100vh;
}
