.App {
    display: flex;
    flex-direction: column;
}

.MainWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100vw;
    height: 10vh;
}

.BasketWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 90vh;
}
